<footer>
    <div class="container">
        <div class="row">
            <img class="footer__logo col-6" src="./../../assets/book-dark-transparent-bg.svg" alt="logo">
            <div class="footer__content col-6">
                <h2 class="footer__h2">
                    Quick Links
                </h2>
                <ul>
                    <li>
                        <a routerLink="/">Home</a>
                    </li>
                    <li>
                        <a routerLink="/">About Us</a>
                    </li>
                    <li>
                        <a routerLink="/sign-up">Sign Up</a>
                    </li>
                    <li>
                        <a routerLink="/login">Login</a>
                    </li>
                </ul>
            </div>
        </div>
       
    </div>
    
</footer>